a.app.panel {
    display: block;
    width: 148px;
    height: 200px;
    padding: 10px;
    margin-left: 20px;
    color: inherit;
    text-decoration: none;
    overflow: hidden;
}

a.app .icon {
    display: block;
    height: 128px;
    width: auto;
    margin: auto;
}

a.app .rate {
    position: relative;
    font-size: 8px;
}

a.app .rate .rate-value {
    color: #FFEB3B;
}

a.app .rate .rate-background {
    color: #F5F5F5;
    position: absolute;
    left: 0;
    top: 0;
}