#app-main {
    margin: 50px 0;
    
    header {
        display: flex;
        
        .app-icon {
            width: 256px;
            min-width: 256px;
            margin-right: 20px;

            img {
                display: block;
                width: 256px;
                height: auto;
            }
        }
        
        .app-info {
            display: flex;
            flex-direction: column;
            
            .review-info {
                line-height: 32px;

                .star-rate {
                    display: inline-block;
                    margin-bottom: -4px;
                    margin-right: 20px;
                }
            }
            
            .brief-desc {
                flex: 1;
                margin: 1em 0;
            }
        }
    }
}