#app-main {
    margin: 50px 0;
    
    .app-action {
        text-align: right;
        
        .dropdown {
            display: inline-block;
        }
        
        .mdi-editor-mode-edit {
            position: fixed;
            right: 20px;
            bottom: 30px;
        }
    }
    
    header {
        display: flex;
        
        .app-icon {
            width: 256px;
            min-width: 256px;
            margin-right: 20px;

            img {
                display: block;
                width: 256px;
                height: auto;
            }
        }
        
        .app-info {
            display: flex;
            flex-direction: column;
            
            .review-info {
                line-height: 32px;

                .star-rate {
                    display: inline-block;
                    margin-bottom: -4px;
                    margin-right: 20px;
                }
            }
            
            .brief-desc {
                flex: 1;
                margin: 1em 0;
            }
        }
    }
    
    .screenshots {
        margin-bottom: 30px; // space for nav dots
        
        .screenshot-item {
            position: relative;
            height: 400px;
            margin-right: 20px;
            overflow: hidden;
            
            img {
                display: block;
                height: 400px;
                width: auto;
            }
            
            div.text {
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 10px;
                color: white;
                background: rgba(0,0,0,0.3);
            }
        }
    }
    
    #your-review {
        .cc-link {
            color: inherit;
            float: right;
            font-size: 42px;
        }
    }
    
    #review-list {
        .review-item {
            .review-meta {
                text-align: right;
                
                i {
                    font-size: 18px;
                    color: rgba(0,0,0,0.5);
                    margin-left: 20px;
                    cursor: pointer;
                }
            }
        }
    }
    
    #load-reviews-btn {
        max-width: 300px;
        margin: auto;
        display: block;
    }
}