#platforms {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .logo {
            max-width: 64px;
            max-height: 64px;
            width: auto;
            height: auto;
            margin: 10px;
        }
    }
}