.rate.star-rate {
    position: relative;
    
    .rate-value, .rate-background {
        display: flex;
        
        i {
            display: block;
            flex: 0;
        }
    }
    
    .rate-value {
        position: absolute;
        top: 0;
        left: 0;
        color: #FFEB3B;
        overflow: hidden;
    }
    
    .rate-background {
        color: #E0E0E0;
    }
}